.vscode/
.DS_Store
*/__pycache__/
*/GoogleNews-vectors-negative300.bin
*/.ipynb_checkpoints/*-checkpoint.ipynb
W2V/W2V-3/.ipynb_checkpoints/word2vec-checkpoint.ipynb
W2V/W2V-3/__pycache__/huffman.cpython-37.pyc